@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #010516; /* Blue background */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white; /* Optional: sets the text color to white for better contrast */
  }
  
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

